<div class="a_keywords_form">
<div class="form_field">
<select name="tags_list" style="padding: 0">
<option value="{{_('All')}}" onClick="kfl.change_filter(null)">{{_('All')}}</option>
</select>
</div>
</div>
<ol class="someclass" id="some_id">
<li class="item" style="color:black;background:{% if error %}red;{% else %}{% if warning %}yellow;{% else %}transparent;{% endif %}{% endif %}" title="some extra information">
First item text Next Line text
</li>
<li class="item">Second item text</li>
<li {{ attribute_macro(args) }}>Third item text</li>
<li class="item{% if last_item %} last_item_class{% endif %}">Not yet</li>
<li class="item last_item_class">Last item text</li>
</ol>